<nav ui-nav>
  <ul class="nav">
    <li><div class="b-b b m-v-sm"></div></li>
    <li class="no-bg" ui-fullscreen>
      <a>
        <span class="nav-icon">
          <i class="material-icons">&#xe5d0;</i>
        </span>
        <span class="nav-text">
          Fullscreen Mode
        </span>
      </a>
    </li>
    <li><div class="b-b b m-t-sm"></div></li>
    <li class="no-bg">
      <!-- <a ng-click="logout()"> -->
      <a ui-sref="access.signin">
        <span class="nav-icon">
      	 <i class="material-icons">&#xe8ac;</i>
        </span>
        <span class="nav-text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
